body {
  background-color: #4299e1;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.header {
  display: flex;
  column-gap: 1rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: #1a202c;
}

.header__text--big-bold {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.header__text--bold {
  font-weight: bold;
}

.header__column {
  flex-direction: column;
}

.content {
  background-color: #2d3748;
  padding: 1rem 0.5rem 1rem 0.5rem;
  column-gap: 0.5rem;
}

.content__row {
  display: flex;
  justify-content: space-between;
}

.content__column {
  display: flex;
  flex-direction: column;
}
